:root {
    --primary-color: rgb(76, 181, 178);
    --secondary-color: rgb(230, 248, 247);
    --background-color: rgb(248, 246, 254);
    --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    --lines-font: 'PT Mono', monospace;
    --headings-font: 'Playfair Display', serif;
    --main-font: font-family: 'Rubik', sans-serif;
}

body {
    background-color: var(--background-color);
    font-weight: 300;
}

.frontpage-wrap {
    text-align: center;
    margin: 0;
    margin-top: 40px;
}

.certifications-page-wrap {
    margin: 40px;
}

.color-primary {
    color: var(--primary-color);
    font-style: italic;
}

h1 {
    font-size: 80px;
    font-family: var(--headings-font);
}

h2 {
    font-size: 36px;
    font-family: var(--headings-font);
}

h3 {
    font-size: 22px;
    color: rgb(109, 107, 107);
    font-family: var(--lines-font);
}

.navigation-links {
    display: flex;
    margin-top: 20px;
    justify-content: center;
    font-family: var(--main-font);
}

.navigation-links a {
    font-size: 24px;
    margin: 20px;
    border-radius: 4px;
    padding: 12px 40px;
    text-decoration: none;
}

.contact-link {
    background: var(--primary-color);
    box-shadow: var(--box-shadow);
    color: var(--secondary-color);
}

.projects-link {
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.about-para {
    background: var(--secondary-color);
    padding: 20px 40px;
    margin: 40px 80px;
    border-radius: 4px;
    line-height: 1.5;
    text-align: justify;
}

.about-para p {
    font-family: var(--main-font);
    font-size: 22px;
}

.about-para a {
    text-decoration: none;
}

.weather-app, .portfolio-project, .travel-website {
    padding: 20px;
    margin-top: 20px;
}

.weather-app img {
    border-radius: 4px;
    padding: 20px 20px;
    box-shadow: var(--box-shadow);
}

.portfolio-project img {
    border-radius: 4px;
    padding: 20px 20px;
    box-shadow: var(--box-shadow);
}

.travel-website img {
    border-radius: 4px;
    padding: 20px 20px;
    box-shadow: var(--box-shadow);
}

.projects-content, .certifications-content {
    margin-left: 40px;
}

.certifications-content p {
    line-height: 1.5;
    text-align: justify;
    font-family: var(--main-font);
    font-size: 22px;
}

.weather-app p {
    line-height: 1.5;
    text-align: justify;
    font-family: var(--main-font);
    font-size: 22px;
}

.portfolio-project p {
    line-height: 1.5;
    text-align: justify;
    font-family: var(--main-font);
    font-size: 22px;
}

.travel-website p {
    line-height: 1.5;
    text-align: justify;
    font-family: var(--main-font);
    font-size: 22px;
}

.project-heading, .certifications-heading {
    font-size: 38px;
}

.list-item {
    list-style: inside;
    margin: 5px;
    font-size: 18px;
}

.projects-wrap h3 {
    font-size: 30px;
}

.about-page {
    padding: 80px 100px;
}

.about-page img {
    border: 1px solid none;
    border-radius: 20px;
}

.about-page a {
    font-size: 24px;
    border-radius: 4px;
    padding: 12px 40px;
    text-decoration: none;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.about-page h3 {
    font-size: 20px;
}

.about-page p {
    font-family: var(--main-font);
    font-size: 22px;
    text-align: justify;
}

.netlify-link, .certificate-link {
    border-radius: 4px;
    padding: 20px 30px;
    text-decoration: none;
    text-transform: uppercase;
    background: var(--primary-color);
    box-shadow: var(--box-shadow);
    color: white;
}

.github-link {
    border-radius: 4px;
    padding: 20px 47px;
    text-decoration: none;
    background: #171515;
    box-shadow: var(--box-shadow);
    color: white;
}

.project-links {
    display: flex;
    justify-content: left;
}

.project-links a {
    margin: 10px 40px 0 0;
}

.about-me-link {
    border-radius: 4px;
    padding: 20px 30px;
    text-decoration: none;
    text-transform: uppercase;
    background: var(--primary-color);
    box-shadow: var(--box-shadow);
    color: white;
}

.email-link {
    color: var(--primary-color);
    font-size: 24px;
    text-decoration: none;
}

.instagram-link {
    color: var(--primary-color);
    font-size: 24px;
    text-decoration: none;
}

footer {
    margin: 40px 0;
}

footer a:hover {
    color: black;
}

.contact-box {
    display: flex;
    justify-content: space-between;
    border-radius: 4px;
    background: var(--secondary-color);
    padding: 40px 60px;
    margin-top: 80px;
    margin-bottom: 80px;
}

.contact-box .contact-link {
    font-size: 24px;
    border-radius: 4px;
    padding: 12px 40px;
    text-decoration: none;
}

.contact-box p {
    line-height: 1.2;
}

.social-links a {
    color: var(--primary-color);
    text-decoration: none;
    margin: 0 15px;
    background: var(--secondary-color);
    font-size: 20px;
    border-radius: 10px;
    padding: 6px 12px;
}

@media (max-width: 900px) {
    h1 {
        font-size: 56px;
    }
    .navigation-links a {
    font-size: 20px;
    margin: 15px;
    padding: 10px 25px;
    }
    h2 {
    font-size: 28px;
    }
    .about-para {
    padding: 20px 40px;
    margin: 30px 20px;   
    line-height: 1.3;
    }
    .about-para p {
    font-size: 20px;
    }
    .project-heading, .certifications-heading {
        padding: 0;
        text-align: center;
    }
    h3 {
        text-align: center;
    }
    .about-page {  
        padding: 20px 40px;
        margin: 30px 20px;   
        line-height: 1.3;
    }

    .about-page h2 {
        text-align: center;
    } 
    .contact-box {
    display: block;
    text-align: center;
    border-radius: 4px;
    background: var(--secondary-color);
    padding: 20px 30px;
    margin-top: 50px;
    margin-bottom: 50px;
    }
    .netlify-link, .github-link {
    padding: 10px 15px;
    font-size: 16px;
    }
}